.input-chips-wrapper {
    padding: 1rem;
    border: 2px solid #e5e5e5;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    min-height: 4rem;
    background: rgb(245, 245, 245);

    .chip-item {
        padding: 0 1rem;
        height: 2rem;
        background: #D9D9D9;
        border-radius: 0.5rem;
        align-items: center;
        display: flex;
        gap: 0.75rem;
        border: 2px solid #e8e8e8;
        transition: all 250ms ease-in-out;
        color: #1e1e1e;

        &:hover {
            border: 2px solid #3A56EA;
            color: black;
        }

        svg {
            min-width: 1rem;
            stroke-width: 3px;
            stroke: #1e1e1e;
            transition: all 250ms ease-in-out;

            &:hover {
                scale: 1.1;
            }
        }

        div:hover {
            cursor: pointer;

            svg path {
                stroke: red;
            }
        }
    }

    input {
        height: 2rem !important;
        border: unset !important;
        flex-grow: 1 !important;

        &:hover,&:focus {
            border: unset !important;
            outline: unset;
        }
    }
}