.more-filters {
    font-size: 0.75rem;
    display: flex;
    width: 10rem;
    height: calc(3rem - 1px);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.75rem;
    border-radius: 0.5rem;
    transition: all 90ms ease-in-out;
    cursor: pointer;
    font-weight: 500;

    &:has(.cross:hover) {
        background: rgba(237, 0, 0, 0.1);
        color: #ED0000;
        backdrop-filter: blur(3px);
        border-color: #ED0000;
    }


    &.selected {
        border: 1px solid #6B81FF;
        color: #3A56EA;
        svg path {
            fill: #3A56EA;
        }
    }

    .more-filters-svg {
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.cross {
            svg {
                stroke-width: 0.15rem;
            }

            &:hover {

                svg path {
                    stroke: #ED0000;
                    scale: 1.025;
                }

            }
        }
    }
}


.more-filters-modal {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & .backdrop {
        width: 100vw;
        height: 100vh;
        background: #939393;
        opacity: 0.35;
    }

    & .modal {
        z-index: 21;
        position: absolute;
        background: white;
        width: 35rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        border: 1px solid #e8e8e8;

        & .item {
            display: flex;
            height: 3rem;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9rem;
            color: #1e1e1e;

            & input {
                border: 1px solid #1e1e1e;
                padding: 0.35rem;
                border-radius: 0.35rem;
                width: 12rem;
                position: relative;
                height: 2.5rem;

                &::-webkit-calendar-picker-indicator {
                    background: transparent;
                    bottom: 0;
                    color: transparent;
                    cursor: pointer;
                    height: auto;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: auto;
                }

            }
        }

        & .date-input {
            position: relative;

            & h5 {
                position: absolute;
                z-index: 1;
            }
        }

        & .body {
            border-bottom: 1px solid #A7A7A7;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }

        & .actions button {
            height: 3rem;
            padding: 0 1.5rem;
            border-radius: 0.5rem;
            text-transform: capitalize;
            width: 12rem;
            font-size: 0.8rem;
        }

        & .actions {
            display: flex;
            justify-content: space-between;

            & .remove {

                &:hover {
                    background: rgba(237, 0, 0, 0.3);
                    color: #ED0000;
                }
            }

            & .apply {
            }
        }
    }

    & .modal .header {
        height: 3rem;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #A7A7A7;
        margin-bottom: 1rem;
        justify-content: space-between;

        & svg {
            width: 2rem;
            cursor: pointer;

            & path {
                stroke: #1e1e1e;
            }

            &:hover path {
                stroke: red;
            }
        }

        & h3 {
            font-size: 1.5rem;
            color: #1e1e1e;
        }

    }

}

.select-owner {
    position: relative;

    & .owner-input {
        width: 12rem;
        height: 2.5rem;
        border-radius: 0.35rem;
    }

}

.select-owner .owner-list {
    width: 20rem;
    background: #F9F9F9;
    padding: 0.75rem;
    position: absolute;
    z-index: 1;
    color: #1e1e1e;
    border-radius: 0.5rem;
    border: 1px solid #e8e8e8 ;
    margin-top: 0.25rem;

    & .owner-item {
        display: flex;
        height: 2rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        cursor: pointer;
        padding: 0 0.25rem;
        border-radius: 0.25rem;

        & svg {
            /*width: 1.25rem;*/

            & path {
                fill: #F9F9F9;
            }
        }

        &:hover {
            border: 1px solid #3A56EA;
            color: #3A56EA;

            & svg path {
                fill: #3A56EA;
            }
        }

        &.active {
            color: #3A56EA;

            & svg path {
                fill: #3A56EA;
            }
        }

    }

    & .list {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
    }

    & .owner-search {
        width: 100%;

        & input {
            width: 100% !important;
        }
    }
}

.owner-search-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}