.left-steps-menu {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;

    & .rq-page-wrapper {
        width: 100%;
        overflow-y: scroll;
        padding-left: 22rem;
        margin-left: -22rem;
        margin-bottom: 8rem;

        &::-webkit-scrollbar-thumb{
            background: #3A56EA;
            border-radius: 1rem;
        }

        &::-webkit-scrollbar{
            width: 0.6rem;
        }

        &::-webkit-scrollbar-track{
            background: transparent;
        }

        &::-webkit-scrollbar-corner{
            background: transparent;
        }
    }

    & .steps-container-wrapper {
        height: 100%;
        position: relative;
        background: white;
        border-right: 1px solid #e5e5e5;
        /*border-bottom: 1px solid #A7A7A7;*/
        width: fit-content;
    }

    & .steps-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: fit-content;
        width: 20rem;
        margin-left: 2.5rem;
        margin-top: 2.5rem;
        box-sizing: border-box;
        position: relative;

        & .steps-line {
            position: absolute;
            width: 2px;
            height: 100%;
            background: #3A56EA;
            top: 0;
            left: 1.5rem;
        }
    }

    & .item-step{
        display: flex;
        align-items: center;
        gap: 0.75rem;

        & .step-number {
            width: 3rem;
            height: 3rem;
            aspect-ratio: 1/1;
            border: 2px solid #3A56EA;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #3A56EA;
            font-size: 1.5rem;
            position: relative;
            background: white;
            font-weight: 500;

            & svg {
                position: absolute;
                fill: white;
                display: none;
                stroke-width: 2px;
                stroke: white;
            }

            &.current {
                background: #3A56EA;
                color: white;
                border-color: #3A56EA;
            }

            &.checked {
                background: #3A56EA;
                border-color: #3A56EA;
                color: #3A56EA;

                & svg {
                    display: flex;
                }
            }
        }

        & .step-title {
            color: #1e1e1e;
            font-size: 1rem;
            font-weight: 500;
        }
    }

}