.analytics-page {
    .analytics-header-banner {
        width: 100%;
        margin-top: 1.5rem;
        border-radius: .75rem;
        position: relative;
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;

        .header-text {
            font-size: 4rem;
            font-weight: 500;
            color: #1e1e1e;
        }

        img {
            width: 5.75rem;
            height: 5.75rem;
        }
    }

     .page-header h4{
        font-size: 1.25rem;
        color: #1e1e1e;
    }

    .filter-box {
        display: inline-flex;
        justify-content: start;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
        align-items: center;
        height: 100%;

        .date-daterange {
            padding-left: 1rem;
            height: 3rem;
        }

        select {
            height: 3rem;
            width: 10rem;
            padding: 0 1rem;
        }


    }

     .page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*height: 3rem;*/
        margin-top: 1rem;
        z-index: 10;
    }

    .arrow-style {
        svg path {
            fill: #3A56EA;
        }
    }

    .search-analytics-input {
        width: 20rem;
        height: 3.1rem;
        padding: 0 1rem;
    }

    .price-sort {
        #user-main-currency .currency-main {
            color: #3A56EA !important;
            text-decoration: underline ;
        }
    }

    .loads-sort {
        #loads-number {
            color: #3A56EA !important;
            text-decoration: underline ;
        }
    }

    .weight-sort {
        #weight-number .weight-main{
            color: #3A56EA !important;
            text-decoration: underline ;
        }
    }

    .cwt-sort {
        #cwt-per-currency {
            color: #3A56EA !important;
            text-decoration: underline ;
        }
    }


    .open-date-pick-analytics {
        display: inline-flex;
        height: 3rem;
        padding: 0 1rem;
        border-radius: 0.5rem;
        align-items: center;
        gap: 0.5rem;
        font-size: 0.85rem;

        svg {
            scale: 0.8;
        }
    }

    .date-pick-analytics {
        position: relative;
        display: inline-flex;

        .backdrop-pick-range {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(30, 30, 30, 0.1);
        }


        .last-days-buttons {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            button {
                padding: 0.25rem 0.5rem;
                border-radius: 0.5rem;
            }

            .close-btn {
                border: 1px solid #F97D63;
                color: #F97D63;

                &:hover {
                    background: #FEDCCB;
                }
            }
        }
    }

    .date-input-analytics {
        display: flex;
        gap: 0.5rem;
        position: absolute;
        background: white;
        border: 1px solid rgba(30, 30, 30, 0.1);
        left: 0;
        bottom: calc(-100% - 13.75rem);
        flex-direction: column;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 26rem;
        z-index: 100;

        .close-modal {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;

            h5 {
                font-size: 1.1rem;
            }

            div {
                width: 2rem;
                height: 2rem;
                cursor: pointer;

                svg {
                    scale: 0.9;

                    path {
                        stroke-width: 1.5px;
                    }
                }

                &:hover {
                    svg path {
                        stroke: #F97D63;
                    }
                }
            }
        }


        .date-input-analytics-wrapper {
            display: inline-flex;
            position: relative;
            gap: 0.5rem;
            align-items: center;
            justify-content: space-between;

            h5 {
                z-index: 1;
                left: 1rem;
                white-space: nowrap;
            }

            input {
                padding: 0 1rem;
                height: 3rem;
            }
        }
    }
}

.analytic-tab {
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.75rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;


    .analytics-general-wrapper {
        max-width: 21rem;
        background: white;
        border-radius: 0.75rem;
        box-shadow: -1px 1px 3px 0px rgba(0,3,51,0.14);
        /*display: none;*/
        height: fit-content;
        padding: 1rem;


    }

    .general-analytics {
        display: flex;
        align-items: flex-start;



        .subscription-status {
            background: #82C181;
            padding: 0 0.35rem;
            color: rgba(255, 255, 255, 0.95);
            display: flex;
            justify-content: center;
            text-transform: lowercase;
            font-weight: 500;
            font-size: 0.6rem;
            align-self: end;
        }

        .user-team-carriers {
            background: rgba(84, 84, 84, 0.5);

        }

        &>div {
            padding: 0.5rem;
        }

        div div {
            display: flex;
            border-radius: 0.25rem;

            &>div {
                color: white;
                padding: 0rem 0.25rem;
                align-items: center;
                display: flex;
            }

            .title2 {
                font-weight: 700;
                font-size: 0.6rem;
                text-transform: lowercase;
            }

            .big-number2 {
                font-weight: 700;
            }
        }
    }

    .title {
        font-size: 1.3rem;
        font-weight: 500;
        color: #1e1e1e;
    }

    .subtitle {
        font-size: 0.7rem;
        color: rgba(84, 84, 84, 0.5);
    }

    .big-number {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .quotes-by-mode {
        display: flex;
        gap: 1rem;

        &>div {
            display: flex;
            gap: 0.5rem;
            font-size: 0.85rem;
            color: #1e1e1e;
            font-weight: 600;

            &>div {
                width: 2.5rem;
                background: #617BF4;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                border-radius: 0.25rem;
            }
        }
    }

    .statistics {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;

        &.smaller {
            margin-top: 0.35rem;

            &>div {
                display: flex;
                gap: 1rem;
                padding: 0.25rem;

                .title2 {
                    font-size: 0.75rem;
                }
            }
        }

        &>div {
            min-width: 18rem;
            border: 1px solid rgba(84, 84, 84, 0.1);
            padding: 0.5rem;
            border-radius: 0.5rem;
            height: fit-content;

        }

        .title2 {
            font-size: 1.1rem;
            color: #1e1e1e;
        }

        .big-number2 {
            font-size: 1.75rem;
            font-weight: 600;

            &.price {
                color: rgba(0, 32, 221, 0.7);

                div {
                    display: flex;
                    align-items: center;

                    &>div {
                        display: flex;
                        flex-direction: column;
                        font-size: 1rem;
                        align-items: start;
                        color: rgba(84, 84, 84, 0.5);

                        .currency-1 {
                            font-size: 0.65rem;
                            background: rgba(84, 84, 84, 0.5);
                            color: white;
                            height: fit-content;
                            padding: 0 0.25rem;
                            border-radius: 0.25rem;
                            width: fit-content;
                        }

                    }
                }
            }
        }
    }
}

.statistics-carrier-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 0 !important;


    .analytics-card-row {
        width: 100%;
        padding: 1.5rem 1.5rem 4rem 1.5rem;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(30, 30, 30, 0.25);

        &:nth-last-of-type(1) {
            border-bottom: unset;
        }
    }

    .analytics-card-container, .performance-tab {
        display: flex;

        .title {
            color: rgba(30, 30, 30, 0.4);
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .analytics-card-container {
        &>div {
            max-width: 50%;
            width: 100%;
        }
    }

    & .locations-wrapper .location-item:nth-last-of-type(1) .circle-line {
        display: none;
    }

    .location-title {
        display: flex;
        width: 100%;
        justify-content: start;

        div {
            /*background: rgba(0, 0, 0, 0.05);*/
            border-radius: 0.5rem;
            display: flex;
            gap: .5rem;
            /*padding: 0.5rem 1rem;*/
            h4 {
                color: #1e1e1e;
                font-weight: 500;
            }
        }
    }

    .locations-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 1rem;
        height: 100%;

        .between-address-arrow {
            height: 100%;
            width: 50px;
            filter: grayscale(1);
            opacity: 0.5;
        }


        .pickup-locations, .drop-locations {
            width: 100%;
            display: inline-flex;
            gap: 1rem;
            margin-bottom: 1rem;
            height: 100%;
            align-items: center;

            h3 {
                width: 6rem;
            }

            .location-item {
                margin-left: 0.5rem;
                padding: 0.25rem;
                border-radius: 0.5rem;
                height: 100%;
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                width: 30%;

                .sub-text-address {
                    color: rgba(30, 30, 30, 0.5);
                    font-size: 0.75rem;
                }

                .main-text-address {
                    font-size: 0.95rem;
                    color: #1e1e1e;
                    font-weight: 500;
                }



                .location-details-wrapper {
                    display: flex;
                    flex-direction: column;
                }

                .company-name {
                    color: #3A56EA;
                    font-size: 0.85rem;
                }
            }
        }
    }

    .location-item {
        margin-left: 0.5rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        height: 100%;
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        width: 30%;

        .sub-text-address {
            color: rgba(30, 30, 30, 0.5);
            font-size: 0.75rem;
        }

        .main-text-address {
            font-size: 0.95rem;
            color: #1e1e1e;
            font-weight: 500;
        }



        .location-details-wrapper {
            display: flex;
            flex-direction: column;
        }

        .company-name {
            color: #3A56EA;
            font-size: 0.85rem;
        }
    }

    .main-info-line {
        display: inline-flex;
        gap: 5rem;
        margin-bottom: 1.25rem;
        /*background: rgba(30, 30, 30, 0.025);*/
        /*border-radius: 0.5rem;*/
        /*padding: 0.5rem;*/
        /*border: 1px dashed rgba(30, 30, 30, 0.1);*/
    }

    .performance-tab {
        gap: 0.35rem;
        flex-direction: column;

        .performance-container {
            display: inline-flex;
            gap: 5rem;

            .percent-div {
                font-size: 1.5rem;
                font-weight: 500;

                &.red {
                    color: #F44C3D;
                }

                &.yellow {
                    color: #face72;
                }

                &.green {
                    color: #A9D9A3;
                }

                span {
                    font-size: 0.9rem;
                    font-weight: 400;
                    opacity: 0.8;
                }
            }
        }
    }

    .currencies-data {
        min-width: 30rem;
        margin-right: 1.5rem;
        border-right: 1px solid rgba(30, 30, 30, 0.075);
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
    }

    .currency-main, .weight-main {
        font-size: 1.5rem;
        color: #1e1e1e;

        .currency-symbol {
            width: 2rem;
            height: 2rem;
            background: #1e1e1e;
            border-radius: 0.65rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.65rem;
            font-weight: 500;
        }
    }

    .currency-sub {
        span {
            font-weight: 500;
            color: rgba(30, 30, 30, 0.5);
            font-size: 0.9rem;
        }

        .currency-symbol {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 0.45rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1e1e1e;
        }
    }

    .currency-main, .weight-main , .currency-sub {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
    }

    .currencies-total {
        display: inline-flex;
        gap: 1rem;
    }

    .currency-chart {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
    }

    .card-header {
        display: flex;
        width: 100%;
        /*justify-content: space-between;*/
        font-size: 1.1rem;
        /*font-weight: 500;*/
        margin-bottom: 1.5rem;

        .lane-header {
            display: inline-flex;
            gap: 1rem;
            align-items: center;
        }

        .card-carrier-title {
            margin-left: 0.5rem;
        }
    }

    .weight-main-wrapper {
        display: inline-flex;
        gap: 1rem;
        align-items: center;

        .approx-symbol {
            font-size: 2rem;
            opacity: 0.25;
        }
    }

    .analytics-data-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        div {
            display: inline-flex;
            justify-content: space-between;
            color: rgba(30, 30, 30, 0.75);

            &:nth-of-type(odd) {
                background: rgba(58, 86, 234, 0.05);
            }

            span {
                color: #1e1e1e;
                font-weight: 600;
            }
        }

    }

    .distance-tab {
        margin-top: 2rem;

        .title {
            margin-bottom: 0.5rem;

        }
    }
}