.shipments-page {
    width: 100%;
    gap: 1rem;

    .sub-text {
        align-items: center;
        display: flex;
    }

    .page-header h4{
        font-size: 1.25rem;
        color: #545454;
    }

    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;

        div {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        button {
            display: flex;
            align-items: center;
            padding: 0 1rem;
            background: white;
            border-radius: 0.75rem;
            color: #545454;
            font-size: 0.75rem;
            gap: 1rem;
            border: 1px solid #A7A7A7;
        }
    }

    .shipments-table {
        width: 100%;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.25rem;
        width: 100%;
    }

    thead {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 2;
    }

    thead tr {
        width: 100%;
    }

    .location-styling {
        display: flex;
        align-items: center;
        position: relative;

    .arrow-styling {
        width: 3rem;
        min-width: 3rem;
    }
    }

    tr th {
        text-align: left;
        padding-left: 0.65rem;
        height: 3.75rem;
        border-collapse: collapse;
        font-size: 0.85rem;
        color: #626262;
        font-weight: 700;
    }

    tr td:nth-child(6), tr td:nth-child(7) {

    }

    tr>th:nth-child(1){
        border-radius: 1rem 0 0 1rem;
        border-right: 2px solid #EFEFEF;
    }

    tr>th:nth-last-child(1){
        border-radius: 0 1rem 1rem 0;
    }

    tr>td:nth-child(1){
        border-radius: 1rem 0 0 1rem;
        width: 3rem;
        border-right: 1px solid #EFEFEF;

        div {
            color: #545454;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .id-number {
            font-size: 0.9rem;
            font-weight: 300;
            text-transform: uppercase;
        }
    }

    tr:nth-of-type(even) td:not(:nth-child(1)) {
        border-right: 1px solid #f3f3f3;
    }

    tr:nth-of-type(odd) td:not(:nth-child(1)) {
        border-right: 1px solid #ececec;
    }

    tr td:nth-child(5), tr td:nth-child(2){
        text-transform: capitalize;
    }

    tr td:nth-child(1) {
        border-right: 2px solid #f3f3f3;
    }

    tr td:nth-child(2),tr td:nth-child(3) {
       border-right: unset !important;
    }

     .pickup .location, .drop .location {
        display: flex;
        position: relative;
        /*width: max-content;*/
        align-items: center;
        width: 100%;
        padding-right: 3.5rem;

        .extra-address{
            position: absolute;
            right: 0;
        }
    }

    tr>td:nth-last-child(1){
        border-radius: 0 1rem 1rem 0;
    }

    td {
        vertical-align: center;
        padding: 0 0.65rem;
    }

    tr:nth-of-type(even){
        background: white;
    }

    tr:nth-of-type(odd){
        background: #F9F9F9;
    }

    tr>td {
        height: 3rem;
        box-sizing: border-box;
    }

    .svg-favorite {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        scale: 0.75;

        &.active svg{
            fill: #0020DD;
        }

        svg {
            cursor: pointer;

            &:hover path {
                stroke: #0020DD;
            }
        }
    }

    .price {
        font-size: 1.7rem;
    }

    .ship-table-actions {
        display: flex;
        gap: 0.5rem;
        position: relative;
        /*z-index: 1;*/

        button {
            background: transparent;
            border-radius: 0.75rem;
        }

        .tooltip .tooltiptext{
            bottom: unset;
            top: 100%;
        }
    }

    .ship-table-pickup {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }
}

.shipments-filters-panel {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    /*padding: 1rem 0;*/
    /*border-bottom: 1px solid #A7A7A7;*/
    /*border-top: 1px solid #A7A7A7;*/
    flex-wrap: wrap;
    z-index: 10;
    flex-direction: row;

    &>div{
        display: flex;
        gap: 1rem;
        align-items: center;
    }

     p {
        font-size: 0.875rem;
        color: #545454;
    }

    .refresh {
        display: flex;
        gap: 2.25rem;
        align-items: center;
        margin-left: auto;
    }

    .refresh-btn {
        width: 3rem;
        height: 3rem;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }

    .excel-export {
        display: flex;
        height: 100%;
        align-items: center;
        border-radius: 0.5rem;
        background: white;
        padding:0 1rem;
        color: #545454;
        gap: 0.5rem;
        font-size: 0.8rem;

        svg path{
            fill: #545454;
        }
    }

}