.pagination-wrapper {
    display: flex;
    align-items: center;
    height: 2.5rem;

    button {
        font-size: 1rem;
        height: 2.5rem;
        width: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        transition: all 300ms ease-in-out;
        border:2px solid #D9D9D9;
        outline: unset;
        box-shadow: unset;

        &:hover {
            border:2px solid #D9D9D9;

            svg path {
                fill: #3A56EA;
            }
        }

        &:disabled {
            svg path {
                fill: #D9D9D9;
            }

            &:hover {
                svg {
                    stroke-width: 0;
                }
            }
        }

        svg {
            width: 2rem;
            stroke-width: 0;

            path {
                fill: #1e1e1e;
            }
        }

        &:nth-child(1) {
            border-radius: 0.5rem 0 0 0.5rem;
            svg {
                rotate: 180deg;
            }
        }

        &:nth-child(3) {
            border-radius:0 0.5rem 0.5rem 0;
        }
    }

    div {
        font-weight: 500;
        font-size: 1rem;
        width: 3rem;
        border-top: 2px solid #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1e1e1e;
        /*background: white;*/
    }
}