.quote-ftl {
    width: 100%;
    border-radius: 1rem;
    background: white;
    padding: 1.5rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 3px 0px rgba(0,3,51,0.14);

    .items-total-details {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 3rem;
        align-items: center;
        margin-top: 1rem;

        h3 {
            width: 20%;
            text-align: left;
            border: 1px solid #CBCBCB;
            height: 2.5rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0 0.5rem;
            border-radius: 0.5rem;
            font-size: 0.7rem;
            font-weight: 600;
            color: #666666;

            span {
                font-size: 0.8rem;
                margin-left: 0.25rem;

                &.unit,&.to-degree {
                    opacity: 0.5;
                    font-size: 0.7rem;
                }

                &.to-degree {
                    margin: 0;
                    font-size: 0.5rem;
                }
            }
        }
    }

    .items-wrapper-quote-preview {
        width: calc(100% + 3rem);
        background: #FAFAFA;
        margin-left: -1.5rem;
        padding: 0.75rem;

        table {
            width: 100%;
            text-align: left;

            td {
                padding: 0;
                margin: 0;
            }

            tbody tr {
                border-bottom: 1px dashed #d3d3d3;
            }
        }

        .hazard-item {
            border-bottom: unset;
        }
    }

    .hazardous-material-item {
        /*background: rgba(167, 167, 167, 0.11);*/
        border-bottom: 1px dashed #d3d3d3;

        td:nth-child(1) {
            padding-left: 0.05rem;
        }

        .info {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            h6 {
                color: crimson;
            }
        }

        h6 {
            color: #1e1e1e;
        }

        svg {
            width: 0.5rem;
            height: 1rem;
            path {
                fill: crimson;
            }
        }
    }

    svg {
        min-width: 1.8rem;
    }

    .title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
        /*border-bottom: 1px solid #A7A7A7;*/

        .quote-author {
            display: inline-flex;
            align-items: center;
            gap: 0.3rem;
            position: relative;

            .quote-details-title {
                position: absolute;
                bottom: -1.5rem;
                color: #d2d2d2;
                white-space: nowrap;
            }

            h2 {
                /*color: #3A56EA;*/
            }
        }

        .quote-author-logo-img {
            border-radius: 0.5rem;
            border: 1px solid rgba(84, 84, 84, 0.2);
        }

        .quote-short-id {
            color: #d2d2d2;
            font-weight: 400;
            font-size: 1.1rem;
        }

        .quote-type {
            display: inline-flex;
            background: rgba(210, 210, 210, 0.5);
            /*background: rgba(210, 210, 210, 1);*/
            /*background: black;*/
            align-items: center;
            justify-content: center;
            gap: 0.15rem;
            padding: 0 0.25rem;
            height: 2rem;
            overflow: hidden;
            width: 100%;
            border-radius: 0.35rem;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-weight: 600;
            font-size: 1rem;
            /*color: #3A56EA;*/
            color: #1e1e1e;
            text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);

            img {
                filter: brightness(1.5) grayscale(1);
                /*backdrop-filter: invert(1);*/
                /*background: white;*/
            }
        }

    }

    .details-wrapper {
        border: 2px solid rgba(84, 84, 84, 0.1);
        padding: 0.75rem;
        border-radius: 0.5rem;
        background: rgba(84, 84, 84, 0.05);

        &>div {
            display: flex;
            gap: 0.35rem;
            /*align-items: center;*/

            &:nth-child(odd) {
                background: rgba(84, 84, 84, 0.06);
                border-radius: 0.5rem;
            }

            svg {
                stroke: #3A56EA;
                stroke-width: 0.1rem;
                transform: scale(0.65);
                opacity: 0.5;
                width: 2rem;
            }

            span {
                width: 2rem;
                color: rgba(0, 32, 221, 0.5);
                display: flex;
                justify-content: center;
                font-weight: 700;
                align-self: center;
            }

            h4 {
                width: 11rem;
                text-transform: lowercase;
                color: rgba(30, 30, 30, 0.5);
                font-size: 1.2rem;
                font-weight: 400;
                border-right: 2px solid rgba(255, 255, 255, 0.5);
                margin-right: 0.25rem;
            }

            h3 {
                width: calc(100% - 10rem - 2rem);
                font-weight: 400;
            }
        }
    }

    .locations {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        width: 100%;

        .location-details-wrapper {
            display: flex;
            flex-direction: column;
            gap: inherit;
            margin-left: 1rem;
            margin-bottom: .75rem;
            margin-top: 0.5rem;
        }

        .location-info {
            background: rgba(0, 0, 0, 0.02);
            border-radius: 0.75rem;
            border: 1px solid rgba(0, 0, 0, 0.05);
            margin-top: -0.25rem;
            overflow: hidden;
            padding: 0.25rem;

            .company-details-name {
                font-size: 0.9rem;
                font-weight: 400;
                color: #96AAFB;
                width: max-content;
                padding: 0.075rem 0.25rem !important;
                border: unset !important;
            }

            h3 {
                padding-left: 0.35rem;
                font-size: 0.95rem;
                opacity: 0.7;
                font-weight: 400;

                &.address-h3 {
                    border-left: unset;
                    padding: 0.25rem 0.25rem;
                    border-radius: 0.5rem;
                    color: #1e1e1e;
                    font-size: 1.1rem;
                    opacity: 1 !important;
                    /*font-weight: 300;*/
                }
            }
        }

        .location-company-details {
            /*min-height: 3rem;*/
            display: inline-flex;
            gap: 0.4rem;
            align-items: center;
            border: unset !important;
            flex-wrap: wrap;
            justify-content: start;
            /*margin-top: 0.1rem;*/
            margin-top: 0.4rem;
        }

        .company-details-item,.formatted-open-hours {
            border: unset !important;
            height: 1.85rem;
            display: inline-flex;
            align-items: center;
            font-weight: 600;
            padding: 0 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 0.5rem;
            font-size: 0.85rem;
            background: #EDEDED;
            color: #1e1e1e;
            width: max-content !important;
            border: 1px solid rgba(84, 84, 84, 0.25) !important;
            opacity: 0.7;
        }

        .formatted-open-hours-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: start;
            border: unset !important;
            width: 100%;
            flex-wrap: wrap;
            gap: 0.4rem;
            margin-top: 0.4rem;
        }

        svg {
            stroke: #1e1e1e;
            stroke-width: 0.1rem;
            transform: scale(0.65);
            opacity: 0.5;
            width: 2rem;
        }

        & .locations-wrapper .location-item:nth-last-of-type(1) .circle-line {
            display: none;
        }

        .location-title {
            display: flex;
            width: 100%;
            justify-content: start;

            div {
                /*background: rgba(0, 0, 0, 0.05);*/
                border-radius: 0.5rem;
                display: flex;
                gap: .5rem;
                /*padding: 0.5rem 1rem;*/
                 h4 {
                     color: #1e1e1e;
                     font-weight: 500;
                 }
            }
        }

        .locations-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            padding-top: 1.5rem;
            padding-bottom: .5rem;
            /*border-bottom: 1px solid #A7A7A7;*/

            .location-item {
                display: flex;
                gap: 1rem;
                position: relative;

                &.carrierArrived {

                    svg path {
                        /*stroke: #82C181;*/
                    }
                }
            }

            .location-item h3:nth-child(1) {
                /*width: 100%;*/
            }

            .location-circle {
                width: 1.75rem;
                height: 1.75rem;
                min-width: 1.75rem;
                min-height: 1.75rem;
                border-radius: 100%;
                background: url("/png/sparkle.png") no-repeat center center;
                display: flex;
                justify-content: center;
                align-items: center;
                background-size: contain;

                &.green-circle {
                    background: #82C181;

                    .circle-line {
                        background: #82C181;
                        z-index: 0;
                    }

                    svg {
                        z-index: 1;
                        opacity: 1;
                        transform: translateX(0.15rem);
                        width: 20px;
                        padding: 0;
                        margin: 0;
                        filter: drop-shadow(0 0 4px #f1fff0);

                        path {
                            stroke: white;
                        }
                    }
                }
            }

            .circle-line {
                position: absolute;
                height: calc(100% - 0.25rem);
                width: 1px;
                background: rgba(30, 30, 30, 0.2);
                top: 0;
                margin-top: 2rem;
            }


            .location-info {
                display: flex;
                flex-direction: column;
                gap: 0 !important;
                width: 100%;

                h3 {
                    font-weight: 500;
                    width: 100%;

                }

                .arrival-text-span {
                    color: #82C181;
                    float: right;
                    width: 12.5rem;
                    border-left: 0.1rem solid #ececec;
                    border-right: 0.1rem solid #ececec;
                    padding-left: 0.5rem;
                    margin-left: 1rem;

                    &.late {
                        /*color: #fcebaa;*/
                    }
                }

                h4 {
                    width: 8rem;
                    text-transform: lowercase;
                    color: rgba(84, 84, 84, 0.5);
                    font-size: 1.2rem;
                    font-weight: 400;
                    display: none;
                }

                div {
                    display: flex;
                    border-bottom: 0.1rem dashed #e5e5e5;
                    border-image: repeating-linear-gradient(90deg, #e5e5e5 0, #e5e5e5 5px, transparent 5px, transparent 10px) 30; /* Adjust the dash length and gap */

                    &:nth-last-of-type(1) {
                        border-bottom: unset;
                    }

                    &:nth-of-type(1) {
                        border-top: 0.1rem dashed #e5e5e5;
                    }

                    svg {
                        min-width: 30px;
                    }

                    h3 {
                        max-width: 90%;
                    }
                }
            }
        }
    }

    .hazard-warning {
        display: flex;
        width: 100%;
        border-radius: 1rem;
        border: 2px solid #ED0000;
        padding: 1rem;
        color: white;
        align-items: center;
        gap: 2rem;

        svg {
            width: 3.5rem;
            height: 3.5rem;

            path {
                fill: #ED0000;

            }
        }

        .info {

            div {
                display: flex;
                gap: 2rem;
                align-items: end;
            }

            h3 {
                color: #ED0000;
            }
        }
    }

    .special-instructions {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        div {
            display: flex;
            /*gap: .25rem;*/
            margin-left: -0.5rem;

        }

        h4 {
        }

        h3 {
            font-weight: 300;
            line-height: 1.5;
            opacity: 0.5;
            /*font-size: 0.95rem;*/
        }
    }


}

@media (max-width: 1440px) {
    .details-wrapper svg {
        /*transform: scale(0.45) !important;*/
        width: fit-content !important;
    }
}

@media (min-width: 1640px) {
    .location-info .arrival-text-span {
        margin-right: 0%;
    }
}

@media (max-width: 1200px) {
    .location-info .arrival-text-span {
        margin-right: 50%;
    }
}
