.quote-ftl {
    width: 100%;
    border-radius: 1rem;
    background: white;
    padding: 1.5rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 1px 3px 0px rgba(0,3,51,0.14);

    .items-total-details {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 3rem;
        align-items: center;
        margin-top: 1rem;

        h3 {
            width: 20%;
            text-align: left;
            border: 1px solid #dcdcdc;
            height: 2.5rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 0 1rem;
            border-radius: 0.5rem;
            background: #f3f3f3;
            font-size: 0.7rem;
            font-weight: 600;
            color: rgba(84, 84, 84, 0.5);

            span {
                font-size: 0.9rem;
                margin-left: 0.5rem;
                color: #545454;
            }
        }
    }

    .items-wrapper-quote-preview {
        width: calc(100% + 3rem);
        background: #FAFAFA;
        margin-left: -1.5rem;
        padding: 0.75rem;

        table {
            width: 100%;
            text-align: left;

            td {
                padding: 0;
                margin: 0;
            }

            tbody tr {
                border-bottom: 1px dashed #d3d3d3;
            }
        }

        .hazard-item {
            border-bottom: unset;
        }
    }

    .hazardous-material-item {
        /*background: rgba(167, 167, 167, 0.11);*/
        border-bottom: 1px dashed #d3d3d3;

        td:nth-child(1) {
            padding-left: 0.05rem;
        }

        .info {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            h6 {
                color: crimson;
            }
        }

        h6 {
            color: #545454;
        }

        svg {
            width: 0.5rem;
            height: 1rem;
            path {
                fill: crimson;
            }
        }
    }

    svg {
        min-width: 1.8rem;
    }

    .title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: end;
        padding-bottom: 1rem;
        /*border-bottom: 1px solid #A7A7A7;*/

        div {
            display: flex;
            align-items: end;
            gap: 0.5rem;
        }
    }

    .details-wrapper {
        border: 2px solid rgba(84, 84, 84, 0.1);
        padding: 0.75rem;
        border-radius: 0.5rem;
        background: rgba(84, 84, 84, 0.05);

        &>div {
            display: flex;
            gap: 0.35rem;
            /*align-items: center;*/

            &:nth-child(odd) {
                background: rgba(84, 84, 84, 0.06);
                border-radius: 0.5rem;
            }

            svg {
                stroke: #0020DD;
                stroke-width: 0.1rem;
                transform: scale(0.65);
                opacity: 0.5;
                width: 2rem;
            }

            span {
                width: 2rem;
                color: rgba(0, 32, 221, 0.5);
                display: flex;
                justify-content: center;
                font-weight: 700;
                align-self: center;
            }

            h4 {
                width: 10rem;
                text-transform: lowercase;
                color: rgba(84, 84, 84, 0.5);
                font-size: 1.2rem;
                font-weight: 400;
                border-right: 2px solid rgba(255, 255, 255, 0.5);
                margin-right: 0.25rem;
            }

            h3 {
                width: calc(100% - 10rem - 2rem);
            }
        }
    }

    .locations {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        width: 100%;

        .location-info {
            h3 {
                border-left: 0.1rem solid #ECECECFF;
                padding-left: 0.5rem;

                &:nth-child(1) {
                    border-left: unset;
                    padding: unset;
                }
            }
        }

        .location-company-details {
            min-height: 3rem;
            display: inline-flex;
            gap: 1rem;
            align-items: center;
            border: unset !important;
            flex-wrap: wrap;
            justify-content: end;
            margin-top: 0.35rem;
        }

        .company-details-item,.formatted-open-hours {
            border: unset !important;
            height: 2.5rem;
            display: inline-flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 600;
            background: #CAD5FD;
            color: #3A56EA;
            width: calc(18rem - 2px);
            padding: 0 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 0.5rem;

            &:nth-child(2),&:nth-child(3) {
                width: 10rem;
            }
        }

        .formatted-open-hours {
            width: max-content !important;
            background: #EDEDED;
            color: #545454;
        }

        .formatted-open-hours-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: end;
            border: unset !important;
            width: 100%;
            margin-top: 0.35rem;

        }

        svg {
            stroke: #0020DD;
            stroke-width: 0.1rem;
            transform: scale(0.75);
            opacity: 0.5;
            width: 2rem;
        }

        & .locations-wrapper .location-item:nth-last-of-type(1) .circle-line {
            display: none;
        }

        .location-title {
            display: flex;
            width: 100%;
            justify-content: start;

            div {
                background: rgba(0, 0, 0, 0.05);
                border-radius: 0.5rem;
                display: flex;
                gap: .5rem;
                padding: 0.5rem 1rem;
                 h4 {
                     color: #545454;
                     font-weight: 500;
                 }
            }
        }

        .locations-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            padding-bottom: 2rem;
            border-bottom: 1px solid #A7A7A7;

            .location-item {
                display: flex;
                gap: 1rem;
                position: relative;

                &.carrierArrived {

                    svg path {
                        /*stroke: #82C181;*/
                    }
                }
            }

            .location-item h3:nth-child(1) {
                /*width: 100%;*/
            }

            .location-circle {
                width: 1.75rem;
                height: 1.75rem;
                min-width: 1.75rem;
                min-height: 1.75rem;
                border-radius: 100%;
                background: #0020DD;
                display: flex;
                justify-content: center;
                align-items: center;

                &.green-circle {
                    background: #82C181;

                    .circle-line {
                        background: #82C181;
                    }

                    svg {
                        /*position: absolute;*/
                        z-index: 1;
                        /*stroke-width: 1px;*/
                        /*stroke: white;*/
                        opacity: 1;
                        /*margin: 0 !important;*/
                        /*padding: 0 !important;*/
                        transform: translateX(0.15rem);
                        width: 20px;
                        padding: 0;
                        margin: 0;
                        filter: drop-shadow(0 0 4px #f1fff0);

                        path {
                            stroke: white;
                        }
                    }
                }
            }

            .circle-line {
                position: absolute;
                height: calc(100% + 2.5rem);
                width: 1px;
                background: #0020DD;
                /*margin-left: 0.875rem;*/
                top: 0;
            }

            .location-info {
                display: flex;
                flex-direction: column;
                gap: 0rem !important;
                width: 100%;

                h3 {
                    font-weight: 500;
                    width: 100%;

                }

                .arrival-text-span {
                    color: #82C181;
                    /*padding-left: 30%;*/
                    /*opacity: 0.5;*/
                    float: right;
                    width: 12.5rem;
                    border-left: 0.1rem solid #ececec;
                    border-right: 0.1rem solid #ececec;
                    padding-left: 0.5rem;
                    margin-left: 1rem;

                    &.late {
                        /*color: #fcebaa;*/
                    }
                }

                h4 {
                    width: 7rem;
                    text-transform: lowercase;
                    color: rgba(84, 84, 84, 0.5);
                    font-size: 1.2rem;
                    font-weight: 400;
                }

                div {
                    display: flex;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                    gap: 0.5rem;

                    svg {
                        min-width: 30px;
                    }

                    h3 {
                        max-width: 70%;
                    }
                }
            }
        }
    }

    .hazard-warning {
        display: flex;
        width: 100%;
        border-radius: 1rem;
        border: 2px solid #ED0000;
        padding: 1rem;
        color: white;
        align-items: center;
        gap: 2rem;

        svg {
            width: 3.5rem;
            height: 3.5rem;

            path {
                fill: #ED0000;

            }
        }

        .info {

            div {
                display: flex;
                gap: 2rem;
                align-items: end;
            }

            h3 {
                color: #ED0000;
            }
        }
    }

    .special-instructions {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div {
            display: flex;
            gap: 1.5rem;
        }
    }


}

@media (max-width: 1440px) {
    .details-wrapper svg {
        /*transform: scale(0.45) !important;*/
        width: fit-content !important;
    }
}

@media (min-width: 1640px) {
    .location-info .arrival-text-span {
        margin-right: 0%;
    }
}

@media (max-width: 1200px) {
    .location-info .arrival-text-span {
        margin-right: 50%;
    }
}
