.shipment-id-page {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
    height: 100%;

    .vcd-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        align-items: center;
        justify-content: center;
        display: flex;

        .ca-backdrop {
            background: #A7A7A7;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .view-docs {
            display: flex;
            background: white;
            position: relative;
            width: 50rem;
            box-sizing: border-box;
            padding: 0.5rem;
            border-radius: 0.75rem;
            flex-direction: column;
            gap: 0.25rem;
            border: 1px solid #dedede;
            min-height: 20rem;
            max-height: 55rem;
            overflow-y: auto;

            .vd-container {
                display: flex;
                width: 100%;
                height: 100%;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                justify-content: center;

                .doc-item {
                    width: 100%;
                    display: inline-flex;
                    gap: 1rem;
                    align-items: center;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    border-top: 1px solid transparent;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    border-bottom: 1px solid rgba(30, 30, 30, 0.05);
                    height: 2.5rem;
                    transition: 100ms ease-in-out;
                    box-sizing: content-box;


                    &:hover {
                        background: rgba(30, 30, 30, 0.05);
                        border: 1px solid #3A56EA;

                        .doc-size, .doc-time {
                            color: rgba(30, 30, 30, 1);
                        }
                    }

                    .doc-item-icon {
                    }

                    .doc-name {
                        white-space: nowrap;
                        width: 25rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .doc-size {
                        white-space: nowrap;
                        width: 10rem;
                        color: rgba(30, 30, 30, 0.5);
                        font-size: 0.7rem;
                    }

                    .doc-time {
                        font-size: 0.7rem;
                        width: 14rem;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        color: rgba(30, 30, 30, 0.5);
                    }

                }
            }

            .vd-header {
                display: inline-flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
            }

            .close {
                cursor: pointer;

                &:hover {
                    svg {
                        path {
                            stroke: rgba(237, 0, 0, 0.8);
                        }
                    }
                }

                svg {
                    width: 1.5rem;
                    stroke-width: 3px;
                    transition: all 250ms ease-in-out;

                    path {
                        stroke: rgba(84, 84, 84, 0.5);
                    }
                }
            }

            .ca-title {
                color: #1e1e1e;
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 1.1;
                text-align: center;
                padding: 0.5rem 1rem;
            }

            .ca-actions {
                display: flex;
                gap: 0.5rem;
                width: 100%;
                justify-content:center;
                border-top: 2px solid #dedede;
                padding-top: 0.5rem;
                /*margin-top: 0.5rem;*/
            }


            button {
                /*width: 100%;*/
                max-width: 50%;
                height: 3rem;
                border-radius: 0.5rem;
                width: 9rem;
                font-size: 0.85rem;

                &.cancel {
                    background: white;
                    color: #1e1e1e;
                    border: 1px solid #A7A7A7;

                    &:hover {
                        color: black;
                        border-color: #1e1e1e;
                        background: #dedede;
                    }
                }

                &:hover {
                }
            }
        }
    }

    .arrival-time-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 300;
        display: flex;
        justify-content: center;
        align-items: center;

        .arrival-backdrop {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(167, 167, 167, 0.5);
        }

        button {
            /*width: 100%;*/
            max-width: 50%;
            height: 3rem;
            border-radius: 0.5rem;
            width: 9rem;
            font-size: 0.85rem;

            &.cancel {
                background: white;
                color: #1e1e1e;
                border: 1px solid #A7A7A7;

                &:hover {
                    color: black;
                    border-color: #1e1e1e;
                    background: #dedede;
                }
            }

            &:hover {
            }
        }

        .actions {
            display: flex;
            justify-content: end !important;
            gap: 1rem;
            width: 100%;
            margin-top: 1rem;
            padding-top: 1rem;
            border-top: 1px solid #A7A7A7;
        }

        .arrival-content {
            background: white;
            z-index: 1;
            position: relative;
            padding: 1.5rem;
            border-radius: 0.75rem;
            box-shadow: -1px 1px 3px 0px rgba(0,3,51,0.14);
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            min-width: 50rem;


            input,select {
                height: 3.5rem;
                padding: 0 0.5rem;
                color: #1e1e1e;
            }

            &>div {
                display: flex;
                align-items: center;
                /*justify-content: space-between;*/
                gap: 1.5rem
            }
        }

        .time-selectors {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            select {
                font-weight: 700;
                width: 3.5rem;
                font-size: 1.1rem;
            }
        }
    }

    .page-header {
        width: 100%;
        height: fit-content;

        .breadcrumbs {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /*border-bottom: 1px solid #A7A7A7;*/
            /*margin-bottom: 1.25rem;*/

            div {
                display: flex;
                gap: 1rem;
            }

            button {
                height: 3rem;
                width: 10rem;
                color: #1e1e1e;
                border-radius: 0.75rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1rem;
                box-sizing: content-box;

                svg {
                    position: absolute;
                    left: 0.25rem;
                }
            }

            button.cancel {
                background: rgba(237, 0, 0, 0.24);

                svg path{
                    fill: rgba(237, 0, 0, 1);
                }

                color: rgba(237, 0, 0, 1);

                &:hover {
                    background: white;
                    border: 1px solid rgba(237, 0, 0, 1);
                }
            }
        }
    }
}

.content-wrapper {
    display: flex;
    width: 100%;
    gap: 1.5rem;

    .shipment-column {
        max-width: calc(60% - 0.75rem);
        width: 100%;
        gap: 2rem;
        display: flex;
        flex-direction: column;

    }

    .chat-column {
        max-width: calc(40% - 0.75rem);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        min-width: 38rem;

        .change-status {
            background: white;
            padding: 1.5rem;
            border-radius: 1rem;
            display: inline-flex;
            gap: 0.5rem;
            width: 100%;

            button {
                max-width: 25%;
                width: 100%;
                height: 3.75rem;
            }

            .change-status-button {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem;
                max-width: 75%;

                span {
                    background: rgba(30, 30, 30, 0.1);
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    transition: 100ms ease-in-out;
                    /*color: #82C181;*/
                }

                &:hover {
                    span {
                        background: #5EA563;
                        color: white;
                    }
                }
            }

            button {
                height: 3.5rem;
                box-sizing: border-box;
                border-radius: 0.65rem;
                width: 100%;


                span {
                    text-transform: uppercase;
                }

            }
        }
    }

    .chat-wrapper {
    }

    .accept-quote {
        background: white;
        height: 10.5em;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        button {
            width: 100%;
            height: 3rem;
            border-radius: 0.75rem;
            font-weight: 300;
        }
    }

    .request-wrapper {
        width: 100%;
        border: 1px solid #3A56EA;
        min-height: 5rem;
        box-sizing: border-box;
        padding: 1rem;
        border-radius: 1rem;
        background: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            font-size: 1.3rem;
        }

        .price {
            font-size: 2.75rem;
        }

        .full-price {
            width: fit-content;
        }

        .price-wrapper {
            padding: 0.5rem;
            border-radius: 0.5rem;
            h5 {
                margin-top: -0.75rem;
            }
        }

        .valid-until {
            .sub-text {
                width: fit-content;
                padding: 0 1rem;
                border-radius: 0.35rem;

                &.expired {
                    background: #FEDCCB;
                }

                &.active {
                    background: #F1FBEB;
                }
            }
        }

        &>div {
            display: flex;

            &:nth-child(1) {
                gap: 2rem;
            }
        }
    }

    .notes {
        display: flex;
        flex-direction: column;

        span {
            font-size: 0.75rem;
            color: #1e1e1e;
            font-weight: 300;
        }
    }



    @keyframes rotateIconX {
        from {
            transform: rotate(0deg);
            transform-origin: center center;
        }
        to {
            transform: rotate(360deg);
            transform-origin: center center;
        }
    }
}

@media (max-width: 1200px) {
    .content-wrapper {
        flex-wrap: wrap;

        .chat-column {
            max-width: unset;
        }

        .shipment-column {
            max-width: unset;
        }
    }
}
