.al-quotes-page {
    gap: 1rem;
    padding-bottom: 1rem;

    .page-header {
        /*height: 3rem;*/
        z-index: 10;
    }

    .remove-filters {
        font-size: 0.75rem;
        text-transform: capitalize;
        padding: 0 0.5rem;
        border-radius: 0.65rem;
        height: calc(3rem - 2px);
    }

    .filters-panel {
        z-index: 10;
        display: flex;
        justify-content: start !important;
        flex-direction: row;
        gap: 1rem;

        .search-input-custom {
            width: 30rem;
        }
    }

    .location-styling {
        display: flex;
        align-items: center;
        position: relative;

        .arrow-styling {
            width: 3rem;
            min-width: 3rem;

            svg path {
                fill: rgba(0, 32, 221, 0.5);
            }
        }
    }

    .page-header h4{
        font-size: 1.25rem;
        color: #1e1e1e;
    }

    .quotes-table-wrapper {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .page-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*height: 3rem;*/
        margin-top: 1rem;
        z-index: 10;
    }
}