.quotes-page {
    gap: 1rem;

    .location-styling {
        display: flex;
        align-items: center;
        position: relative;

        svg {
            min-width: 1rem;
            position: absolute;
            left: -2rem;
        }
    }
}

.quotes-page .page-header h4{
    font-size: 1.25rem;
    color: #545454;
}

.quotes-page .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*height: 3rem;*/
    margin-top: 1rem;
    z-index: 10;
}

.quotes-page .quotes-table-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;


}