.main-menu {
    height: 4.6875rem;
    width: 100%;
    box-sizing: border-box;
    background: white;
    align-items: center;
    /*overflow: hidden;*/
    position: relative;
    z-index: 300;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    justify-content: center;

    &>div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.main-menu .logo {
    background: #f8f8f8;
    height: 3.1rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    transition: all 250ms ease-in-out;

    &:hover {
        background: #777777;
        svg {
            filter: grayscale(1) invert(1) drop-shadow(0 1px 1px #888888);
        }
    }

    svg {
        /*width: 12rem;*/
        height: 2rem;
        /*border: 3px solid #EFEFEF;*/
        /*opacity: 0.5;*/

    }
}

.main-menu .user-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 3.45rem;

    .sign-out {
        cursor: pointer;

        &:hover {

            svg path {
                fill: #0020DD;
            }

        }

        svg {
            path {
                fill: #545454;
            }
        }
    }
}

.main-menu .user-menu .user-photo {
    width: 3.375rem;
    height: 3.375rem;
    border: 1px solid #EFEFEF;
    border-radius: 100%;
    box-sizing: border-box;
}

.main-menu .user-menu .user {
    display: flex;
    gap: .5rem;
    color: #606060;
    letter-spacing: 0.0625rem;
    border: 2px solid #A7A7A7;
    border-radius: 1rem;
    overflow: hidden;
    font-weight: 500;
    background: #EFEFEF;
}

.main-menu .user-menu .user-name div:nth-child(2){
    font-size: 0.625rem;
}

.main-menu .user-menu .user-name div:nth-child(1){
    font-size: 1rem;
}

.main-menu .user-menu .user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-menu .user-menu .open-extra-menu {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.main-menu .user-menu .notifications {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.main-menu .user-menu .notifications .number {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 1.3125rem;
    min-width: 1.3125rem;
    background: #0020DD;
    color: white;
    border-radius: 100%;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu .navigation {
    display: flex;
    height: 100%;
    gap: 1rem;
    padding-bottom: 0.35rem;
    align-items: center;
}

.admin-menu , .carrier-menu , .seller-menu{
    height: 100%;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.seller-menu .item:nth-child(2) {
    margin-left: 1rem;
}

.admin-menu .new-demo, .seller-menu .get-quote {
    height: 3rem;
    display: flex;
    gap: 1rem;
    background: #0020DD;
    color: white;
    align-items: center;
    padding: 0 1.5rem;
    transition: all 250ms ease-in-out;
    border-radius: 0.65rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85rem;
    border: 2px solid transparent;

    svg {
        stroke-width: 1px;
        stroke: white;
    }

    &:hover {
        border: 2px solid #EFEFEF;
        background: white;
        color: #0020DD;

        svg {
            stroke: #0020DD;
        }
    }
}

.admin-menu .item {
    display: flex;
    gap: 0.5rem;
    transition: all 250ms ease-in-out;
}

.admin-menu .item:hover {
    opacity: 0.75;
    color: #0020DD;
}

.admin-menu .item:hover svg path {
    fill: #0020DD;
}

.admin-menu .new-demo:hover {
    opacity: 0.75;
}

.main-menu .navigation .item {
    display: flex;
    gap: 0.5rem;
    transition: all 250ms ease-in-out;
    align-items: center;
    color: #545454;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 00.5rem;
    border: 2px solid transparent;

    svg {
        transform: scale(0.8);
        stroke-width: 1px;
        stroke: #545454;
    }

    &.active {
        border: 2px dashed #e5e5e5;
        color: black;

        svg {
            stroke: black;
        }
    }
}

.main-menu .navigation .item:hover {
    /*opacity: 0.75;*/
    color: #0020DD;
    background: #EFEFEF;

}

.main-menu .navigation .item:hover svg {
    stroke: #0020DD;
    path {
        fill: #0020DD;
    }
}

