.main-menu {
    height: 4.6875rem;
    width: 100%;
    box-sizing: border-box;
    background: white;
    align-items: center;
    /*overflow: hidden;*/
    position: sticky;
    z-index: 300;
    border-bottom: 1px solid #CBCBCB;
    display: flex;
    justify-content: center;
    top:0;
    transition: height 0.3s ease, background-color 0.3s ease;

    .navigation {
        display: inline-flex;
        align-items: center;

        .logo-wrapper {
            width: 10rem;
            position: relative;
            transition: all 150ms ease-in-out;
            display: inline-flex;
            align-items: center;
            height: 3rem;
            overflow: visible;

            .logo {
                position: absolute;
                top: 0;
                left: 0;
                transition: all 150ms ease-in-out;
                height: 3rem;
                overflow: visible;

                svg {
                    width: 100%;

                    path {
                        width: 100%;
                    }
                }

                &.full-logo {
                    opacity: 1;
                    transition: all 150ms ease-in-out;

                    svg {
                        height: 2rem;
                    }
                }

            }
        }
    }

    &.scrolled {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);

        .navigation .logo-wrapper {
            width: 5rem;
            display: flex;
            align-items: center;
            height: 2.5rem;

            .logo {
                padding: 0;
                height: 2.5rem;
                width: 100%;
                background: transparent;

                &:hover {
                    background: #777777;
                }

                svg {
                    scale: 0.9;
                }

            }
        }

        .admin-menu .new-demo, .seller-menu .get-quote {
            height: 2.5rem;
            width: 9rem;
            font-size: 0.75rem;
            background: #CAD5FD;
            border: 1px solid rgba(58, 86, 234, 0.5);
            color: #3A56EA;

            svg path{
                stroke: #3A56EA;
            }

            &:hover {
                background: white;
            }
        }

        .navigation .item {
            height: 2rem;
            transition: all 100ms ease-in-out;
            font-size: 0.95rem;

            &.active {
                border: 1px dashed transparent;
                color: #3A56EA;

                svg {
                    stroke: #3A56EA;
                }
            }
        }

        .user .user-name {
            width: 0 !important;
        }

        .avatar {
            margin-right: 0 !important;
            border-right: 0;
        }

    }

    &>div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

.main-menu .logo {
    background: #f8f8f8;
    height: 3.1rem;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 250ms ease-in-out;

    &:hover {
        background: #777777;
        svg {
            filter: grayscale(1) invert(1) drop-shadow(0 1px 1px #888888);
        }
    }
}

.main-menu .user-menu {
    display: flex;
    /*gap: 2rem;*/
    align-items: center;
    height: 3.45rem;

    .sign-out {
        cursor: pointer;

        &:hover {
            svg path {
                fill: #3A56EA;
            }
        }

        svg {
            path {
                fill: #1e1e1e;
            }
        }
    }
}

.main-menu .user-menu .user {
    display: flex;
    /*gap: .5rem;*/
    color: #1e1e1e;
    letter-spacing: 0.0625rem;
    border: 1px solid #A7A7A7;
    border-radius: 1rem;
    overflow: hidden;
    font-weight: 500;
    background: #EFEFEF;
    height: 3.1rem;

    .avatar {
        margin-right: 0.5rem;
    }
}

.main-menu .user-menu .user-name div:nth-child(2){
    font-size: 0.625rem;
}

.main-menu .user-menu .user-name div:nth-child(1){
    font-size: 1rem;
}

.main-menu .user-menu .user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 150ms ease-in-out; /* Smooth transition */
    overflow: hidden;
    white-space: nowrap;
}

.main-menu .user-menu .open-extra-menu {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.main-menu .user-menu .notifications {
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: visible;
}

.main-menu .user-menu .notifications .number {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 1.3125rem;
    min-width: 1.3125rem;
    background: #3A56EA;
    color: white;
    border-radius: 100%;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu .navigation {
    display: flex;
    height: 100%;
    gap: 1rem;
    padding-bottom: 0.35rem;
    align-items: center;
}

.admin-menu , .carrier-menu , .seller-menu{
    height: 100%;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.seller-menu .item:nth-child(2) {
    margin-left: 1rem;
}

.admin-menu .new-demo, .seller-menu .get-quote {
    height: 3rem;
    display: flex;
    gap: 1rem;
    background: #3A56EA;
    color: white;
    align-items: center;
    padding: 0 1.5rem;
    transition: all 250ms ease-in-out;
    border-radius: 0.65rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85rem;
    border: 1px solid transparent;
    width: 11rem;
    white-space: nowrap;
    justify-content: center;

    svg {
        stroke-width: 1px;
        stroke: white;
    }

    &:hover {
        border: 1px solid #EFEFEF;
        background: white;
        color: #3A56EA;

        svg {
            stroke: #3A56EA;
        }
    }
}

.admin-menu .item {
    display: flex;
    gap: 0.5rem;
    transition: all 250ms ease-in-out;
}

.admin-menu .item:hover {
    opacity: 0.75;
    color: #3A56EA;
}

.admin-menu .item:hover svg path {
    fill: #3A56EA;
}

.admin-menu .new-demo:hover {
    opacity: 0.75;
}

.main-menu .navigation .item {
    display: flex;
    gap: 0.5rem;
    transition: all 250ms ease-in-out;
    align-items: center;
    color: #1e1e1e;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 00.5rem;
    border: 1px solid transparent;
    height: 3rem;
    font-size: 1rem;
    /*max-width: 10rem;*/

    svg {
        transform: scale(0.8);
        stroke-width: 1px;
        stroke: #1e1e1e;
    }

    &.active {
        border: 1px dashed #e5e5e5;
        color: black;

        svg {
            stroke: black;
        }
    }
}

.main-menu .navigation .item:hover {
    /*opacity: 0.75;*/
    color: #3A56EA;
    background: #EFEFEF;

}

.main-menu .navigation .item:hover svg {
    stroke: #3A56EA;
    path {
        fill: #3A56EA;
    }
}

.main-menu {

    .menu-item-settings:hover svg {
        rotate: 120deg;
        transition: rotate 350ms ease-in-out;
    }

    /*.menu-item-analytics:hover svg {*/
    /*    path:nth-child(1) {*/
    /*        stroke: #3A56EA; !* Make sure the stroke color is applied *!*/
    /*        fill: none; !* Remove fill to only see the stroke *!*/
    /*        stroke-width: 1; !* Define the stroke width *!*/
    /*        animation: AnalyticsIconAnim 3.5s ease-in-out forwards;*/
    /*        stroke-dasharray: 1000;*/
    /*        stroke-dashoffset: 1000;*/
    /*    }*/
    /*}*/

    /*.menu-item-flag:hover svg {*/
    /*    path {*/
    /*        !*animation: FlagIconAnim 1s ease-in-out;*!*/
    /*        transform: scale(1.1) translate(-1px ,-1px);*/
    /*        transition: 250ms ease-in-out;*/
    /*    }*/
    /*}*/

    /*.menu-item-document:hover svg {*/
    /*    #document path {*/
    /*        stroke-width: 1;*/
    /*        stroke: none; !* Dacă vrei ca documentul să aibă o margine *!*/
    /*    }*/

    /*    path:nth-child(2) {*/
    /*        stroke: #3A56EA; !* Culoarea stroke-ului pentru linii *!*/
    /*        fill: none;*/
    /*        stroke-width: 1;*/
    /*        stroke-dasharray: 1000;*/
    /*        stroke-dashoffset: 1000;*/
    /*        animation: drawLine 3s cubic-bezier(0.65, 0, 0.35, 1) forwards;*/
    /*    }*/
    /*}*/

    /*.menu-item-addnote:hover svg {*/

    /*    path:nth-child(2){*/
    /*        scale: 1.275;*/
    /*        transform: translate(-2.5px,-2.5px);*/
    /*        transition: 250ms ease-in-out;*/
    /*    }*/
    /*}*/

    .seller-menu .item:hover {
        svg path{
            transform: scale(1.1) translate(-1px ,-1px);
        }
    }
}

@keyframes FlagIconAnim {
    0% {
        transform: translate(0,0);
    }

    20% {
        transform: translate(-1px,-1px);
    }

    60% {
        transform: translate(1px,1px);
    }

    100% {
        transform: translate(0,0);
    }
}


@keyframes AnalyticsIconAnim {
    0% {
        stroke-dashoffset: 1000;
        stroke: #3A56EA;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #3A56EA;
        fill: #3A56EA; /* Optional: keep fill transparent if you want to see only the line */
    }
}

@keyframes drawLine {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}