@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYSEMIBOLD.OTF") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../public/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
  font-weight: 900;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg: #EFEFEF;
  }
}

body {
  background: #EFEFEF;
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.0625rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  padding: 0 2.5rem;
  /*max-width: 1651px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  position: relative;
  background-color: #0020DD;
  color: #fff;
  overflow: hidden;
  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100px) skewX(-15deg);
    content: "";
  }
  &::before {
    width: 60px;
    background: rgba(161, 175, 255, 0.5);
    filter: blur(30px);
    opacity: 0.5;
  }
  &::after {
    width: 30px;
    left: 30px;
    background: rgba(161, 175, 255, 0.2);
    filter: blur(5px);
  }
  &:hover {
    background-color: #0000A9;
    scale: 1.025;
    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: all 0.9s ease;
    }
  }
}
