.rq-templates {
    width: 100%;

    .action-panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    & .search-template {
        width: 25rem;
        height: 3rem;
    }

     tr td:nth-child(3), tr td:nth-child(4){
        max-width: 30rem;
        padding: 0 1rem;
    }
     table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 0.25rem;
        border: unset;
        min-width: 62.5rem;
        box-sizing: border-box;
    }

     thead {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 2;
    }

     thead tr {
        width: 100%;
    }

     tr th {
        text-align: left;
        padding-left: 0.65rem;
        height: 3.75rem;
        border-collapse: collapse;
        font-size: 0.85rem;
        color: #626262;
        font-weight: 700;
    }

     tr th:nth-child(1){
        border-radius: 1rem 0 0 1rem;
        border-right: 1px solid #EFEFEF;
    }

     tr>th:nth-last-child(1){
        border-radius: 0 1rem 1rem 0;
    }


    tr:nth-of-type(even) td:not(:nth-child(1)) {
        border-right: 1px solid #f3f3f3;
    }

    tr:nth-of-type(odd) td:not(:nth-child(1)) {
        border-right: 1px solid #ececec;
    }

    tr td:nth-child(2),tr td:nth-child(3) {
        /*border-right: unset !important;*/
    }


     tr td:nth-child(1){
        border-radius: 1rem 0 0 1rem;
        /*width: 9.875rem;*/
        border-right: 1px solid #EFEFEF;
         width: 8rem;
    }

    /* tr>td:nth-child(2){*/
    /*    width: 5rem;*/
    /*}*/

     tr>td:nth-last-child(1){
        border-radius: 0 1rem 1rem 0;
    }

     td {
        vertical-align: center;
        padding: 0 0.65rem;
    }

     tr:nth-of-type(even){
        background: white;
    }

     tr:nth-of-type(odd){
        background: #F9F9F9;
    }

     tr>td {
        height: 4.625rem;
        box-sizing: border-box;
    }

     .sub-text {
        padding-top: 0.25rem;
        font-weight: 400;
        font-size: 0.75rem;
        color: #939393;
    }

     .pickup .location,  .drop .location {
        display: flex;
        position: relative;
        /*width: max-content;*/
        align-items: center;
         flex-direction: row ;
    }

    .location-styling {
        flex-direction: row;
        display: flex;
        padding-left: 1rem;
        position: relative;
        align-items: center;

        svg {
            position: absolute;
            left: -1rem;
        }
    }

     .pickup .location>svg:nth-child(1),  .drop .location>svg:nth-child(1) {
        position: absolute;
        left: calc(-24px - 0.25rem);
    }

     tr>th:nth-child(3){
        padding-left: calc(24px + 0.25rem);
    }

     tr>th:nth-last-child(1){
        /*min-width: 24rem;*/
        /*width: 25%;*/
    }

     tr>td:nth-last-child(1){
        padding-right: 1rem;
    }

    & .template-actions {
        display: flex;
        justify-content: end;
        /*padding-right: 2.5rem;*/
        gap: 1rem;
        align-items: center;

    }

    & tr:hover td {
        & .template-actions .chevron-svg {
            & svg path{
                fill: #3A56EA;
            }
        }

        cursor: pointer;
    }

    & .edit-template-btn {
        background: transparent;
        color: #1e1e1e;
        display: flex;
        gap: 2rem;
        /*border: 1px solid #A7A7A7;*/
        height: 3rem;
        align-items: center;
        padding: 0 1rem;
        border-radius: 1rem;
        /*font-weight: 300;*/
        white-space: nowrap;
        outline: 1px solid transparent;
        font-size: 1rem;

        &:hover {
            border-color: #3A56EA;
            color: #3A56EA;

            & svg path {
                fill: #3A56EA;
            }
        }
    }


}