.general-breadcrumbs {
    height: 5.625rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    /*border: 1px solid #A7A7A7;*/
    color: #939393;

    & .item {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-right: 1rem;
    }
}