.av-quotes-table table {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        transition: all 150ms ease-in-out;
        border: 1px solid #E8E8E8;
        border-radius: 0.5rem;
        background: white;
        margin-bottom: 0.5rem;
        overflow-x: auto;

        .quote-shipper-logo {
            img {
                border-radius: 0.5rem;
                height: auto;
            }
        }

        .view-details-btn {
            height: 2.5rem;
            width: 9rem;
            border-radius: .7rem;
            font-size: 0.85rem;
            transition: all 50ms ease-in-out;
            box-sizing: border-box;
        }

        thead {
            position: sticky;
            width: 100%;
            /*top: 3.5rem;*/
            z-index: 2;
        }

        .selected-quote-preview-tr {

            td {
                background: rgba(0, 0, 0, 0.02);
                border-bottom: 1px solid #617BF4;

                &:hover {
                    background: rgba(0, 0, 0, 0.02) !important;
                    cursor: unset !important;
                }

            }

            td:nth-child(1) {
                border-left: 1px solid #617BF4;
            }

            td:nth-last-child(1) {
                border-right: 1px solid #617BF4;
                padding-right: 0;
            }

        }

        .current-open-preview {

            &:hover {

                td {
                    background: rgba(0, 0, 0, 0.09) !important;
                }
            }


            td {
                background: rgba(0, 0, 0, 0.05) !important;
                border-bottom: 1px solid #617BF4;
                transition: 150ms ease-in-out;
            }

        }

        th {
            background: white;
            text-align: left;
            padding-left: 0.65rem;
            height: 3rem;
            border-collapse: collapse;
            font-size: 0.85rem;
            color: #787878;
            font-weight: 700;
            border-bottom: 1px solid #E8E8E8;
        }

        td {
            vertical-align: center;
            padding: 0 0.65rem;
            height: 4.625rem;
            box-sizing: border-box;
            border-bottom: 1px solid #E8E8E8;
            background: white;
            transition: 120ms ease-in-out;
            border-top: 1px solid transparent;
        }

        tr:hover td {
            background: rgba(202, 213, 253, 0.5);
            cursor: pointer;
        }

        tr:nth-last-child(1) td:nth-child(1) {
            border-radius: 0 0 0 0.5rem;
        }

        tr:nth-last-child(1) td:nth-last-child(1) {
            border-radius: 0 0 0.5rem 0;
        }

        .equipments-table-box {
            display: -webkit-box; /* Use a flexible box layout */
            -webkit-box-orient: vertical; /* Specify vertical box orientation */
            -webkit-line-clamp: 2; /* Limit text to 3 lines */
            overflow: hidden; /* Hide overflow text */
            text-overflow: ellipsis; /* Show ellipsis (...) at the end */
        }

        .location-styling {
            display: flex;
            align-items: center;
            position: relative;

            .arrow-styling {
                width: 3rem;
                min-width: 3rem;

                svg path {
                    fill: rgba(0, 32, 221, 0.5);
                }
            }
        }

        .pickup .location, .drop .location {
            display: flex;
            position: relative;
            align-items: center;
            width: 100%;

            .location svg {
                width: 50px;
            }

            &:has(.extra-address) {
                padding-right: 2rem;
            }

            .extra-address {
                position: absolute;
                right: 0;
            }
        }

    .av-actions {
        display: inline-flex;
        gap: 0.5rem;
        width: 100%;

        button {
            height: 2.5rem;
            border-radius: 0.5rem;
            width: 10rem;
        }
    }

    tr th:nth-child(1) {
        width: 4.5rem;
    }

    tr th:nth-child(2) {
        width: 3.5rem;
    }

    tr th:nth-child(3){
        width: calc(18rem + 30px);
    }

    tr th:nth-child(4){
        width: calc(18rem - 30px);
    }

    tr th:nth-child(5) {
        width: 9rem;
    }

    tr th:nth-child(6) {
        width: 11rem;
    }

    tr th:nth-child(7) {
        width: 12rem;
    }

    tr th:nth-child(8) {
        width: 11rem;
    }

    tr th:nth-child(9) {
        width: 11rem;
    }

}



.av-quotes-table tr>td {
    height: 4.625rem;
    box-sizing: border-box;
}

.av-quotes-table .active-quote-status {
    width: 7.45rem;
    height: 1.45rem;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 0.9375rem;
    color: white;
    box-sizing: border-box;
}

.av-quotes-table .sub-text {
    padding-top: 0.25rem;
    font-weight: 400;
    font-size: 0.75rem;
    color: #939393;
}

.av-quotes-table .quote-action-button:disabled {
    background: transparent;
    color: #A1AFFF;
    border: 1px solid #A1AFFF;
}

.av-quotes-table .no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: #3A56EA;
}
