.av-quotes-table {
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 7rem - 2.5rem);
    position: relative;
    border-radius: 1.125rem 1.875rem 2rem 2rem;
    box-sizing: border-box;
    /*to have space for stop's window , so it can overflow*/
    padding: 100px 1px 0 1px;
    margin-top: -120px;

    &::-webkit-scrollbar-thumb{
        background: rgba(210, 210, 210, 0.7);
        border-radius: 1rem;
    }

    &::-webkit-scrollbar{
        width: 0.6rem;
        height: 0.7rem;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-corner{
        background: transparent;
    }

    .quote-shipper-logo {
        img {
            border-radius: 0.5rem;
            height: auto;
        }
    }
}

.quotes-table-placeholder {
    height: 120px;
    margin-top: -100px;
    width: 100%;
    background: #EFEFEF;
    z-index: 1;
}


.av-quotes-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.25rem;
    border: unset;
    min-width: 100rem;
    box-sizing: border-box;
    table-layout: fixed;

    .equipments-table-box {
        display: -webkit-box;           /* Use a flexible box layout */
        -webkit-box-orient: vertical;    /* Specify vertical box orientation */
        -webkit-line-clamp: 3;           /* Limit text to 3 lines */
        overflow: hidden;                /* Hide overflow text */
        text-overflow: ellipsis;         /* Show ellipsis (...) at the end */
    }

    .av-actions {
        display: inline-flex;
        gap: 0.5rem;
        width: 100%;

        button {
            height: 2.5rem;
            border-radius: 0.5rem;
            width: 7rem;
        }
    }

    tr th:nth-child(1) {
        width: 4.5rem;
    }

    tr th:nth-child(2) {
        width: 3.5rem;
    }

    tr th:nth-child(3){
        width: calc(18rem + 30px);
    }

    tr th:nth-child(4){
        width: calc(18rem - 30px);
    }

    tr th:nth-child(5),tr th:nth-child(6) {
        width: 9rem;
    }

    tr th:nth-child(7) {
        width: 10rem;
    }

    tr th:nth-child(8) {
        width: 13.25rem;
    }

    tr th:nth-child(9) {
        width: 15rem;
    }

}

.av-quotes-table thead {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
}

.av-quotes-table thead tr {
    width: 100%;
}

.av-quotes-table tr th {
    text-align: left;
    padding-left: 0.65rem;
    height: 3.75rem;
    border-collapse: collapse;
    font-size: 0.85rem;
    color: #626262;
    font-weight: 700;
}

.av-quotes-table tr th:nth-child(1){
    border-radius: 1rem 0 0 1rem;
    border-right: 1px solid #EFEFEF;
}

.av-quotes-table tr>th:nth-last-child(1){
    border-radius: 0 1rem 1rem 0;
}


.av-quotes-table {
    tr:nth-of-type(even) td:not(:nth-child(1)) {
        border-right: 1px solid #f3f3f3;
    }

    tr:nth-of-type(odd) td:not(:nth-child(1)) {
        border-right: 1px solid #ececec;
    }

    tr td:nth-child(2),tr td:nth-child(3) {
        border-right: unset !important;
    }

}

.av-quotes-table tr td:nth-child(1){
    border-radius: 1rem 0 0 1rem;
    /*width: 9.875rem;*/
    border-right: 1px solid #EFEFEF;
}

.av-quotes-table tr>td:nth-child(2){
   width: 5rem;
}

.av-quotes-table tr>td:nth-last-child(1){
    border-radius: 0 1rem 1rem 0;
}

.av-quotes-table td {
    vertical-align: center;
    padding: 0 0.65rem;
}

.av-quotes-table tr:nth-of-type(even){
    background: white;
}

.av-quotes-table tr:nth-of-type(odd){
    background: #F9F9F9;
}

.av-quotes-table tr>td {
    height: 4.625rem;
    box-sizing: border-box;
}

.av-quotes-table .active-quote-status.CONFIRMED {
    background: #04C900;
}

.av-quotes-table .active-quote-status.REQUESTED {
    background: #A1AFFF;
}

.av-quotes-table .active-quote-status.BOOKED {
    border: 1px solid #04C900;
    color: #04C900;
}

.av-quotes-table .active-quote-status {
    width: 7.45rem;
    height: 1.45rem;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 0.9375rem;
    color: white;
    box-sizing: border-box;
}

.av-quotes-table .sub-text {
    padding-top: 0.25rem;
    font-weight: 400;
    font-size: 0.75rem;
    color: #939393;
}

.av-quotes-table .pickup .location, .av-quotes-table .drop .location {
    display: flex;
    position: relative;
    /*width: max-content;*/
    align-items: center;
}

.av-quotes-table .pickup .location>svg:nth-child(1), .av-quotes-table .drop .location>svg:nth-child(1) {
    position: absolute;
    left: calc(-24px - 0.25rem);
}

.av-quotes-table tr>th:nth-child(3){
    padding-left: calc(24px + 0.25rem);
}

.av-quotes-table tr>th:nth-last-child(1){
    /*min-width: 24rem;*/
    /*width: 25%;*/
}

.av-quotes-table tr>td:nth-last-child(1){
    padding-right: 1rem;
}

.av-quotes-table tr td .price .full-price::after {
    content: "00";
    color: #1e1e1e;
    font-size: 0.875rem;
    position: absolute;
    top: -0.2rem
}

.av-quotes-table .price {
    color: #3A56EA;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    gap: 1.5rem;
    min-width: 10.5rem;
    justify-content: space-between;
}

.av-quotes-table .price span,.av-quotes-table .price .currency {
    color: #1e1e1e;
}

.av-quotes-table .price .currency {
    font-size: 1.25rem;
}

.av-quotes-table .price .full-price {
    position: relative;
}

.av-quotes-table .end {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
    gap: 1rem
}

/*.av-quotes-table .quote-action-button {*/
/*    height: 3.45rem;*/
/*    !*width: 12rem;*!*/
/*    border-radius: .9rem;*/
/*    background: #3A56EA;*/
/*    color: white;*/
/*    font-size: 1rem;*/
/*    transition: all 250ms ease-in-out;*/
/*    box-sizing: border-box;*/
/*}*/

.av-quotes-table .quote-action-button:disabled {
    background: transparent;
    color: #A1AFFF;
    border: 1px solid #A1AFFF;
}

.av-quotes-table .no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: #3A56EA;
}

.av-quotes-table .extra-address {
    display: flex;
    align-items: center;
    width: 3rem;
    justify-content: center;
    font-size: 0.75rem;
    color: #1e1e1e;
    background: #D9D9D9;
    border-radius: 0.35rem;
    font-weight: 400;
    gap: 0.3rem;
    margin: 0 0.3rem;
    height: 1.25rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 250ms ease-in-out;
    position: relative;

    & svg {
        position: unset;
    }

    &:hover {
        border: 1px solid #3A56EA;
        color: #3A56EA;

        & svg path{
            fill: #3A56EA;
        }

        & .extra-address-window {
            display: flex;
            .location svg {
                width: 50px;
            }
        }
    }
}
