.members-table {
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 0.25rem;
        border: unset;
        min-width: 1200px;
        box-sizing: border-box;
    }

    thead {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 2;
    }

    thead tr {
        width: 100%;
    }

    tr>th {
        text-align: left;
        padding-left: 1.25rem;
        background: white;
        height: 3.75rem;
        border-top: 1px solid #545454;
        border-bottom: 1px solid #545454;
        border-collapse: collapse;
    }

    tr th {
        font-size: 1rem;
        color: #545454;
        font-weight: 400;
    }

    tr>th:nth-child(1){
        border-radius: 1rem 0 0 1rem;
        border-right: 1px solid #EFEFEF;
        border-left: 1px solid #545454;
    }

    tr>th:nth-last-child(1){
        border-radius: 0 1rem 1rem 0;
        border-right: 1px solid #545454;
    }

    tr>td:nth-child(1){
        border-radius: 1rem 0 0 1rem;
        width: 2rem;
        border-right: 1px solid #EFEFEF;
        padding-left: 0;

        div {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    tr>td:nth-last-child(1){
        border-radius: 0 1rem 1rem 0;
        width: 20rem;
    }

    td {
        padding-left: 1.25rem;
        vertical-align: center;
    }

    tr:nth-of-type(even){
        background: white;
    }

    tr:nth-of-type(odd){
        background: #F9F9F9;
    }

    tr>td {
        height: 3rem;
        box-sizing: border-box;
        width: 10rem;
    }

}