.ca-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;

    .ca-backdrop {
        background: #A7A7A7;
        /*background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(217,217,217,0) 30%);*/
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .confirm-action {
        display: flex;
        background: white;
        position: relative;
        min-width: 25rem;
        width: fit-content;
        /*height: 7rem;*/
        box-sizing: border-box;
        padding: 0.5rem;
        border-radius: 0.75rem;
        flex-direction: column;
        gap: 0.25rem;
        border: 2px solid #dedede;
        max-width: 50rem;

        .icon {
            width: 100%;
            display: flex;
            justify-content: center;

            svg {
                width: 3rem;
                opacity: 0.7;
                stroke-width: 0;

                path {
                    stroke: #0020DD;
                }

                circle {
                    fill: #0020DD;
                }

                path:nth-child(2) {
                    animation: rotateIconX 3s ease-in-out infinite;
                }
            }
        }

        .close {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            cursor: pointer;

            &:hover {
                svg {
                    scale: 1.2;

                    path {
                        stroke: rgba(237, 0, 0, 0.8);
                    }
                }
            }

            svg {
                width: 1.5rem;
                stroke-width: 2px;
                transition: all 250ms ease-in-out;

                path {
                    stroke: rgba(84, 84, 84, 0.5);
                }
            }
        }

        .ca-title {
            color: rgba(237, 0, 0, 0.6);
            font-size: 1.2rem;
            text-align: center;

        }

        .ca-actions {
            display: flex;
            gap: 0.5rem;
            width: 100%;
            justify-content:center;
            border-top: 2px solid #dedede;
            padding-top: 0.5rem;
            /*margin-top: 0.5rem;*/
        }


        button {
            /*width: 100%;*/
            max-width: 50%;
            height: 3rem;
            border-radius: 0.5rem;
            width: 9rem;
            font-size: 0.85rem;

            &.cancel {
                background: white;
                color: #545454;
                border: 2px solid #A7A7A7;

                &:hover {
                    color: black;
                    border-color: #545454;
                    background: #dedede;
                }
            }

            &:hover {
            }
        }
    }
}

@keyframes rotateIconX {
    from {
        transform: rotate(0deg);
        transform-origin: center center;
    }
    to {
        transform: rotate(360deg);
        transform-origin: center center;
    }
}