.quote-filter-panel {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
    /*padding: 1rem 0;*/
    /*border-bottom: 1px solid #A7A7A7;*/
    /*border-top: 1px solid #A7A7A7;*/
    flex-wrap: wrap;
    z-index: 10;

    .remove-filters {
        font-size: 0.75rem;
        text-transform: capitalize;
        padding: 0 0.5rem;
        border-radius: 0.65rem;
        height: calc(3rem - 2px);
    }
}

.quote-type-filter-selector {
    display: flex;
}

.quotes-page .quote-filter-panel p {
    font-size: 0.875rem;
    color: #545454;
}

.quotes-page .quote-filter-panel .refresh {
    display: flex;
    gap: 2.25rem;
    align-items: center;
    margin-left: auto;
}

.quotes-page .quote-filter-panel .refresh-btn {
    width: 3rem;
    height: 3rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.quotes-page {
    .general-type-selector {

        .type-selector {
            /*width: 3rem !important;*/
        }
    }
}