.quote-filter-panel {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 0.5px solid #545454;
    border-top: 0.5px solid #545454;
    flex-wrap: wrap;
    z-index: 10;
}

.quote-type-filter-selector {
    display: flex;
}

.quote-type-filter-selector .type-selector {
    width: 3rem;
    height: 3rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #EFEFEF;
    font-weight: 400;
    font-size: 0.75rem;
    color: #545454;
    box-sizing: border-box;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 250ms ease-in-out;
}

.quote-type-filter-selector .type-selector:nth-last-child(1) {
    border-right: 1px solid transparent;
    border-radius:0 1rem 1rem 0;
}

.quote-type-filter-selector .type-selector:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
}

.quote-type-filter-selector .type-selector:hover {
    border: 1px solid #0020DD;
    color: #0020DD;
}

.quote-type-filter-selector .type-selector.active {
    background: #0020DD;
    color: white;
    border-right: 1px solid #0020DD;
    font-weight: 500;
}

.quote-filter-panel .status-filter-dropdown {
    display: flex;
    align-items: center;
    height: 3rem;
    width: 10rem;
    justify-content: space-between;
    background: white;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 0 .15rem 0 0.75rem;
    font-size: 0.75rem;
    color: #939393;
    border: 1px solid transparent;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    z-index: 10;
    position: relative;
}

.quote-filter-panel .status-filter-dropdown:hover, .quote-filter-panel .status-filter-dropdown.active {
    border: 1px solid #0020DD;
    color: #0020DD;

    & svg path {
        fill: #0020DD;
    }
}

.quote-filter-panel .status-dropdown-menu {
    color: #939393;
    font-size: 0.75rem;
    background: white;
    padding: 1.4rem 0.5rem 0.5rem 0.5rem;
    margin-top: -1rem;
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    z-index: 9;
    width: 10rem;
    border: 1px solid #939393;
}

.quote-filter-panel .status-dropdown-menu .item {
    width: 100%;
    border: 1px solid transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
        border: 1px solid #0020DD;
        color: #0020DD;
    }

    & svg {
        width: 0.7rem;
    }

    & svg path {
        fill: #939393;
    }

    &.active svg path {
        fill: #0020DD;
    }

    &.active {
        color: #0020DD;
    }
}

.quote-filter-panel .status-dropdown .backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: transparent;
    top: 0;
    left: 0;
    z-index: 8;
}

.quote-filter-panel .more-filters {
    font-size: 0.75rem;
    color: #0020DD;
    display: flex;
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.75rem;
    border: 1px solid #0020DD;
    border-radius: 1rem;
    transition: all 250ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: #0020DD;
        color: white;
    }

    &:hover svg path {
        fill: white;
    }
}


.quote-filter-panel .more-filters-modal {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & .backdrop {
        width: 100vw;
        height: 100vh;
        background: #939393;
        opacity: 0.35;
    }

    & .modal {
        z-index: 21;
        position: absolute;
        background: white;
        width: 35rem;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 1rem;
        border: 1px solid #0020DD;

        & .item {
            display: flex;
            height: 3rem;
            align-items: center;
            justify-content: space-between;
            font-size: 0.9rem;
            color: #545454;

            & input {
                border: 1px solid #545454;
                padding: 0.35rem;
                border-radius: 0.35rem;
                width: 12rem;
                position: relative;
                height: 2.5rem;

                &::-webkit-calendar-picker-indicator {
                    background: transparent;
                    bottom: 0;
                    color: transparent;
                    cursor: pointer;
                    height: auto;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: auto;
                }

            }
        }

        & .date-input {
            position: relative;

            & h5 {
                position: absolute;
                z-index: 1;
            }
        }

        & .body {
            border-bottom: 1px solid #0020DD;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }

        & .actions button {
            height: 2rem;
            padding: 0 1.5rem;
            border-radius: 0.35rem;
            font-size: 0.75rem;
        }

        & .actions {
            display: flex;
            justify-content: space-between;

            & .remove {
                background: red;
            }
        }
    }

    & .modal .header {
        height: 3rem;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #0020DD;
        margin-bottom: 1rem;
        justify-content: space-between;

        & svg {
            width: 2rem;
            cursor: pointer;

            & path {
                stroke: #545454;
            }

            &:hover path {
                stroke: red;
            }
        }

        & h3 {
            font-size: 1.5rem;
            color: #939393;
        }

    }

}

.quote-filter-panel .select-owner {
    position: relative;

    & .owner-input {
        width: 12rem;
        height: 2.5rem;
        border-radius: 0.35rem;
    }

}

.quotes-page .quote-filter-panel p {
    font-size: 0.875rem;
    color: #545454;
}

.quotes-page .quote-filter-panel .refresh {
    display: flex;
    gap: 2.25rem;
    align-items: center;
    margin-left: auto;
}

.quotes-page .quote-filter-panel .refresh-btn {
    width: 3rem;
    height: 3rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.quote-filter-panel .select-owner .owner-list {
    width: 20rem;
    background: #F9F9F9;
    padding: 0.75rem;
    position: absolute;
    z-index: 1;
    color: #545454;
    border-radius: 1rem;
    border: 1px solid #0020DD;
    margin-top: 0.25rem;

    & .owner-item {
        display: flex;
        height: 2rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border: 1px solid transparent;
        cursor: pointer;
        padding: 0 0.25rem;
        border-radius: 0.25rem;

        & svg {
            width: 1.25rem;

            & path {
                stroke: #F9F9F9;
            }
        }

        &:hover {
            border: 1px solid #0020DD;
            color: #0020DD;

            & svg path {
                fill: #0020DD;
            }
        }

        &.active {
            color: #0020DD;

            & svg path {
                fill: #0020DD;
            }
        }

    }

    & .list {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
    }

    & .owner-search {
        width: 100%;

        & input {
            width: 100% !important;
        }
    }
}

.owner-search-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}