.quotes-table {
    width: 100%;
    height: calc(100vh - 7rem - 2.5rem);
    position: relative;
    border-radius: 1.125rem 1.875rem 2rem 2rem;
    box-sizing: border-box;
    /*to have space for stop's window , so it can overflow*/
    padding: 100px 1px 0 1px;
    margin-top: -120px;
    overflow: auto;
    transition: all 250ms ease-in-out;

    .equipments-table-box {
        display: -webkit-box;           /* Use a flexible box layout */
        -webkit-box-orient: vertical;    /* Specify vertical box orientation */
        -webkit-line-clamp: 3;           /* Limit text to 3 lines */
        overflow: hidden;                /* Hide overflow text */
        text-overflow: ellipsis;         /* Show ellipsis (...) at the end */
    }

    .location-styling {
        display: flex;
        align-items: center;
        position: relative;

        .arrow-styling {
            width: 3rem;
            min-width: 3rem;

            svg path {
                fill: rgba(0, 32, 221, 0.5);
            }
        }
    }

    .pickup .location, .drop .location {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;

        .location svg {
            width: 50px;
        }

        &:has(.extra-address) {
            padding-right: 3.5rem;
        }

        .extra-address{
            position: absolute;
            right: 0;
        }
    }

    table {
        table-layout: fixed;

       tr th:nth-child(1) {
            width: 7rem;
        }

        tr th:nth-child(3){
            width: calc(15rem + 30px);
        }
        tr th:nth-child(4){
            width: calc(15rem - 30px);
        }

        tr th:nth-child(2) {
            width: 3.5rem;
        }

        tr th:nth-child(5),tr th:nth-child(6) {
            width: 10rem;
        }

        tr th:nth-child(7) {
            width: 7.5rem;
        }

        tr td:nth-child(7) {

            .sub-text {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        tr th:nth-child(10) {
            width: 10.5rem;
        }

        tr th:nth-child(9) {
            width: 10rem;
        }

        tr th:nth-child(8) {
            width: 10.5rem;
        }

        tr td:nth-child(8) {
            .sub-text {
                text-transform: capitalize;
            }
        }
    }

    .company-name {

    }

    .id-number {
        font-size: 0.9rem;
        font-weight: 300;
        text-transform: uppercase;
    }

    .tooltip-datetime {
        display: flex;
        gap: 0.2rem;
        text-transform: uppercase;
        color: black !important;
        font-weight: 500 !important;
        opacity: 0.5;
        background: rgba(0, 0, 0, 0.1);
        padding: 0.2rem;
        border-radius: 0.35rem;
    }

    .tooltip-datetime-box {
        padding: 1rem;
        width: 30rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        z-index: 100;
        background: white;
        border-radius: 0.75rem;
        border: 1px solid rgba(84, 84, 84, 0.25);
    }

    .tooltip-datetime-item {
        /*border-top: 1px solid rgba(84, 84, 84, 0.25);*/
        /*background: rgba(0, 0, 0, 0.035);*/
        border-radius: 0.35rem;
        /*padding: 0.5rem;*/

        .point-on-map-svg {
            display: flex;
            align-items:start;

            svg {
                width: 24px;
                min-width: 24px;
                display: none;

                path {
                    fill: #1e1e1e;
                    scale: 0.6;
                }
            }
        }

        .calendar-svg {
            display: flex;
            align-items: start;

            svg {
                padding-left: 3px;
                width: 24px;
                min-width: 24px;
                margin-top: 3px;
                display: none;

                path {
                    fill: #1e1e1e;
                    scale: 0.65;
                }
            }
        }

    }
}

.quotes-table-placeholder {
    height: 120px;
    margin-top: -100px;
    width: 100%;
    background: #EFEFEF;
    z-index: 1;
}

.quotes-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.25rem;
    border: unset;
    min-width: 100rem;
    box-sizing: border-box;
}

.quotes-table thead {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
}

.quotes-table thead tr {
    width: 100%;
}

.quotes-table tr th {
    text-align: left;
    padding-left: 0.65rem;
    height: 3.75rem;
    border-collapse: collapse;
    font-size: 0.85rem;
    color: #626262;
    font-weight: 700;
}

.quotes-table tr th:nth-child(1){
    border-radius: 1rem 0 0 1rem;
    border-right: 1px solid #EFEFEF;
}

.quotes-table tr>th:nth-last-child(1){
    border-radius: 0 1rem 1rem 0;
}


.quotes-table {
    tr:nth-of-type(even) td:not(:nth-child(1)) {
        border-right: 1px solid #f3f3f3;
    }

    tr:nth-of-type(odd) td:not(:nth-child(1)) {
        border-right: 1px solid #ececec;
    }

    tr td:nth-child(2),tr td:nth-child(3) {
        border-right: unset !important;
    }

}

.quotes-table tr td:nth-child(1){
    border-radius: 1rem 0 0 1rem;
    /*width: 9.875rem;*/
    border-right: 1px solid #EFEFEF;
}

.quotes-table tr>td:nth-child(2){
   width: 5rem;
}

.quotes-table tr>td:nth-last-child(1){
    border-radius: 0 1rem 1rem 0;
}

.quotes-table td {
    vertical-align: center;
    padding: 0 0.65rem;
}

.quotes-table tr:nth-of-type(even){
    background: white;
}

.quotes-table tr:nth-of-type(odd){
    background: #F9F9F9;
}

.quotes-table tr>td {
    height: 4.625rem;
    box-sizing: border-box;
}

.quotes-table .active-quote-status.CONFIRMED {
    background: #04C900;
}

.quotes-table .active-quote-status.CANCELED {
    background: rgba(237, 0, 0, 0.5);
    color: white;
}

.quotes-table .active-quote-status.REQUESTED {
    background: #A1AFFF;
}

.quotes-table .active-quote-status.BOOKED {
    border: 1px solid #04C900;
    color: #04C900;
}

.quotes-table .active-quote-status {
    background: #e8e8e8;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
    text-transform: capitalize;
}

.quotes-table .sub-text {
    padding-top: 0.25rem;
    font-weight: 400;
    font-size: 0.75rem;
    color: #939393;
}


.quotes-table .pickup .location>svg:nth-child(1), .quotes-table .drop .location>svg:nth-child(1) {
    position: absolute;
    left: calc(-24px - 0.25rem);
}

.quotes-table tr>th:nth-child(3){
    /*padding-left: calc(24px + 0.25rem);*/
}

.quotes-table tr>th:nth-last-child(1){
    /*min-width: 24rem;*/
    /*width: 25%;*/
}

.quotes-table tr>td:nth-last-child(1){
    padding-right: 1rem;
}

.quotes-table tr td .price .full-price::after {
    content: "00";
    color: #1e1e1e;
    font-size: 0.875rem;
    position: absolute;
    top: -0.2rem
}

.quotes-table .price {
    color: #3A56EA;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    gap: 1.5rem;
    min-width: 10.5rem;
    justify-content: space-between;
}

.quotes-table .price span,.quotes-table .price .currency {
    color: #1e1e1e;
}

.quotes-table .price .currency {
    font-size: 1.25rem;
}

.quotes-table .price .full-price {
    position: relative;
}

.quotes-table .end {
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
    gap: 1rem
}

.quotes-table .quote-action-button {
    height: 2.5rem;
    width: 9rem;
    border-radius: .7rem;
    /*background: #3A56EA;*/
    /*color: white;*/
    font-size: 0.85rem;
    transition: all 50ms ease-in-out;
    box-sizing: border-box;


    &.highlight {
        background-color: #A1AFFF;
        color: white;

        &:hover {
            color: #3A56EA;
        }
    }

    /*&.red-variant {*/
    /*    background-color: rgba(237, 0, 0, 0.3);*/

    /*    &:hover {*/
    /*        color: #ED0000;*/
    /*    }*/
    /*}*/
}

.quotes-table .quote-action-button:disabled {
    background: transparent;
    color: #A1AFFF;
    border: 1px solid #A1AFFF;
}

.quotes-table .no-data {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: #3A56EA;
}

.quotes-table::-webkit-scrollbar-thumb{
    background: rgba(210, 210, 210, 0.7);
    border-radius: 1rem;
}

.quotes-table::-webkit-scrollbar{
    width: 0.6rem;
    height: 0.7rem;
}

.quotes-table::-webkit-scrollbar-track{
    background: transparent;
}

.quotes-table::-webkit-scrollbar-corner{
    background: transparent;
}

.quotes-table .extra-address {
    display: flex;
    align-items: center;
    width: 3rem;
    justify-content: center;
    font-size: 0.75rem;
    color: #1e1e1e;
    background: #D9D9D9;
    border-radius: 0.35rem;
    font-weight: 400;
    gap: 0.3rem;
    margin: 0 0.3rem;
    height: 1.25rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 250ms ease-in-out;
    position: relative;

    .location svg {
        width: 50px;
    }

    & svg {
        position: unset;
    }

    &:hover {
        border: 1px solid #3A56EA;
        color: #3A56EA;

        & svg path{
            fill: #3A56EA;
        }

        & .extra-address-window {
            display: flex;

        }
    }
}