.change-password-page {
    margin: 1.5rem;
    padding: 1.5rem;
    background: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: -1px 1px 3px 0px rgba(0,3,51,0.14);
    width: 100%;
    height: max-content;

    .pass-input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        div {
            position: relative;
            width: fit-content;
            display: flex;
            align-items: center;
        }

        svg {
            position: absolute;
            right: 0.5rem;
            cursor: pointer;

            &:hover path{
                fill: #0020DD;
            }
        }
    }

    button {
        width: 20rem;
        height: 3.5rem;
        border-radius: 0.75rem;
    }

    input[type="text"],input[type="password"] {
        height: 3.5rem;
        border: 1px solid #A7A7A7;
        padding: 0 1rem;
        border-radius: 0.75rem;
        width: 20rem;
    }
}